<footer>
    <div>
      <h2>About IEEE</h2>
      <p>
        Foster Technological Innovation and<br />
        Excellence for the Benefit of Humanity
      </p>
    </div>
    <div>
      <p>
        Chitkara University<br />
        Chandigarh-Patiala National Highway<br />
        Punjab-140401
      </p>
    </div>
  </footer>
</body>

</html>
