<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/ieee.png" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
  </head>
  <body>
    <!-- NAVBAR SECTION -->
    <nav class="navbar">
      <ul>
        <li>
          <a href="/">
            <img height="50" src="/assets/ieee.png" class="logo-image" alt="logo" />
          </a>
        </li>
        <li><a href="/" class="nav-item">Home</a></li>
        <li><a href="/events" class="nav-item">Events</a></li>
      </ul>
    </nav>

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <span href="#home" class="active"
        ><img src="/assets/ieee.png" alt=""
      /></span>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="/" class="nav-item">Home</a>
        <a href="/events" class="nav-item">Events</a>
        <a href="/about" class="nav-item">About</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    
