
<%- include('partials/header') -%> 
<div class="evnt-status">
    <% if( Status ) { %> 
            <h1>App is not ready for <%= OsName %> </h1>
            <!-- <br> -->
            <a href='/<%=evntdata.route%>/form'><button class="btn btn-outline-danger btn-lg">Continue with Browser</button></a>
    <% } %> 
    <% if(! Status ) { %> 
        <h1>Form Closed</h1>
    <%} %> 
</div>
<%- include('partials/footer') -%>
