<%- include('partials/header') -%> 
    <% if( Status ) { %> 
        <div class="main">
            <h1>App is not ready for <%= OsName %> </h1>
            <button onclick="window.location.href='/event/<%=evntdata.route%>/form'">Continue with Browser</button>
        </div>
    <% } %> 
    <% if(! Status ) { %> 
        <h1>Form Closed</h1>
    <%} %> 
<%- include('partials/footer') -%>
