<%- include('partials/header') -%> 
    <% if( Status ) { %> 
        <div class="main">
            <h1>App is not ready for <%= OsName %> </h1>

            <a href='/event/<%=evntdata.route%>/form'><button >Continue with Browser</button></a>
        </div>
    <% } %> 
    <% if(! Status ) { %> 
        <h1>Form Closed</h1>
    <%} %> 
<%- include('partials/footer') -%>
