<%- include("partials/header") -%>
<br>
<div class="d-flex justify-content-around"></div>
    <h1 class="center">Registration Form of <%=data.eventName%></h1>
    <br>
    <iframe class="iframe-form" src="<%=data.eventRegistrationURL%>"
     frameborder="0">Loading…</iframe>
</div>
<%- include("partials/footer") -%>
n