<%- include("partials/header") -%>

<section>
    <div class="containerr">
      <div class="left-containerr side-containerr">
        <h1>IEEE CIET</h1>
        <dd>
          <p>
            IEEE-CIET is a student branch of IEEE, which is a non-profit
            organization that aims to promote the technical and professional
            development of the students of the institute.
          </p>
        </dd>
        <h2>"Advancing Technology for Humanity"</h2>
        <button
          onclick="parent.location='https://docs.google.com/forms/d/e/1FAIpQLSehyC7k6J3rX9QYGjVmy8Rbeb8oVcdQxTmQRF0JZMGfzL8UJQ/viewform?embedded=true'"
          class="btn btn-primary btn-lg"
        >
          Register Now
        </button>
      </div>

      <div class="side-containerr">
        <img src="assets/5.png" alt="" />
      </div>
    </div>
    </section>

      <!-- <div class="container second-container">
        <section id="events">
          <div id="events_container">
            <div id="events_overlay">
              <div id="events_overlay_container">
                <div id="events_writeup" class="d-flex align-items-center">
                  <p>
                    Keeping in mind our goal of involving maximum students in
                    the engineering field and to encourage them, IEEE CIET
                    Student Branch organizes various Hackathons, Expert Talks
                    and Workshops.
                  </p>
                </div>
                <div id="events_title_image">
                  <img src="assets/upcoming-events1.png" alt="hackwithher" />
                </div>
              </div>
            </div>
            <div id="view_more_events">
              <a href="./events.html">View Past Events</a>
            </div>
          </div>
        </section>
      </div>

      <div class="third-container">
        <div class="head_text">
          <h4>
            <span class="dark">Get</span>
            <br />
            In Touch
          </h4>
        </div>

        <div id="contact_content">
          <div id="contact_img">
            <img
              src="/assets/contact1.svg"
              class="contact-image"
              alt="contact"
            />
          </div>
          <div id="contact_form">
            <form action="">
              <table>
                <tr class="input_lg">
                  <td>
                    <input type="text" placeholder="Name" required />
                  </td>
                  <td>
                    <input type="email" placeholder="Email Address" required />
                  </td>
                </tr>
                <tr class="input_sm">
                  <td>
                    <input type="text" placeholder="Name" required />
                    <input type="email" placeholder="Email Address" required />
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <input id="subject" type="text" placeholder="Subject" />
                    <textarea
                      name=""
                      id=""
                      cols="30"
                      rows="10"
                      placeholder="Message"
                      required
                    ></textarea>
                  </td>
                </tr>
              </table>
              <button
                type="submit"
                class="btn ish"
              >
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </section> -->

<%- include("partials/footer") -%>
