<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/ieee.png" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'"> -->
    <title>Document</title>
  </head>
  <body>
    <section class="topFrontSection">
    <div class="navLogo" href="/">
      <div>
        <img src="/assets/ieee.png" class="logo" alt="">
      </div>
    </div>
<section>
    <div class="containerr">
      <div class="left-containerr side-containerr">
        <h1>IEEE CIET</h1>
        <dd>
          <p>
            IEEE-CIET is a student branch of IEEE, which is a non-profit
            organization that aims to promote the technical and professional
            development of the students of the institute.
          </p>
        </dd>
        <h2>"Advancing Technology for Humanity"</h2>
        <button
          class="btn btn-primary btn-lg"
        >
          Register Now
        </button>
      </div>

      <div class="side-containerr">
        <img src="assets/5.png" alt="" />
      </div>
    </div>
  </section> 
  <script src="socket.io/socket.io.js" "></script>
  <script>
    const socket = io.connect('/');
    socket.on('connect', function() {
      console.log('connected');
      socket.on("reconnect_error", (error) => {
     socket.disconnect()
   })
   socket.on("chat", (payload) => {
      
      window.location.reload()
      console.log(payload.message);
    });
    });

  </script>
</body>

</html>
