<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Random Title</title>

    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <div class="ui inverted menu">
        <a class="item" href="/"> Home </a>
        <a class="item" href="/event"> Events </a>
      </div>
    </header>
    <main>
      <div class="ui segment">
        <h1>At least we can see something now</h1>
        <p>This is visual of templating through EJS</p>
      </div>
    </main>

  </body>
</html>
