<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Apple Student Community || Powered By </title>
  </head>
  <body>
    <div class="w-screen h-screen bg-gradient-to-b space-y-8 from-[#1c7987] flex flex-col items-center justify-center">
      <div class="flex flex-col items-center justify-center space-y-4">
          <h1 class="text-3xl md:text-5xl text-center font-bold text-[#1c7987]"><%= spam %></h1>
          <p class="text-[#1c7987] text-2xl"><%= description %></p>
      </div>
      <button onclick="window.location='/'" class="md:text-xl bg-[rgba(0,0,0,0.1)] text-[#138099] font-bold px-4 md:px-8 py-2 rounded-xl">Back to Home</button>
  </div>
  </body>
</html>
