@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0%;
    
  }
  .navLogo{
    display: flex;
    align-items: center;
    padding: 1% 8%;
    justify-content: space-between;
  }
  
  :root {
    --color-bg: #0065A0;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgb(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: #43affc32;
    --color-text: rgb(3, 77, 123);
  
    --transition: all 400ms ease;
  
    --container-width-lg: 45%;
    --container-width-md: 86%;
    --container-width-sm: 75%;
  }
  /*==================================== LANDING PAGE ====================================*/
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 10px #888888;
    height: 4rem;
    background-color: var(--color-primary);
  }
  
  .navbar ul li a::after{
    content: "";
    height: 2px;
    background: rgb(34, 0, 255);
    width: 0%;
    margin: auto;
    display: block;   
  }

  .navbar ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--color-primary);
    float: right;
  }
  .right{
    float: right;
  }
  
  .navbar a {
    float: left;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.6rem;
    display: block;
  }
  
  .logo-image {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    transition: var(--transition);
  }
  
  .nav-item {
    margin-top: 0.8rem;
    margin-right: 0.9rem;
  }
  
  .topnav{
    display: none;
  }
  
  /*================= MAIN SECTION ==================*/
  
  .main {
    margin-top: 3rem;
  }
  .mainc{
    margin-top: 6rem;
  }
  .topFrontSection{
    height: 100%;
  }
  .containerr {
    display: flex;
    justify-content: space-around;
  }
  
  .side-containerr {
    height: 25rem;
    /* margin-top: vh; */
    width: var(--container-width-lg);
  }
  
  .left-containerr {
    background: linear-gradient(white, var(--color-primary-variant));
    margin-left: 3rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 1rem;
    width: 37rem;
    text-align: center;
    border-radius: 20% 0% 20% 20%;
    transition: var(--transition);
    box-shadow: 0px -5px 10px #888888;
  }
  
  .left-containerr:hover {
    transform: scale(1.1);
    transform: translateX(3rem);
  }
  
  .left-containerr > h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--color-text);
  }
  
  .left-containerr p {
    font-size: 1.2rem;
    color: var(--color-text);
    margin: 2rem;
  }
  
  .left-containerr h2 {
    font-style: italic;
  }
  
  /* .btn {
    background-color:var(--color-bg);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-top: 5rem;
    transition: var(--transition);
  } */
  .ish {
    float: right; margin: 0.5rem; border-radius: 3px
  }
  
  /* .btn:hover {
    transform: scale(1.1);
    background-color: #2c2c6c;
  } */
  
  .side-containerr > img {
    height: 35rem;
    width: 35rem;
    /* padding: 4%; */
    transition: var(--transition);
    float: right;
  }
  
  /* *------part 2------* */
  
  .second-containerr {
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    color: rgba(0, 0, 0, 0.5);
    /* background-image: url("assets/hackwithhwer-bg.jpg"); */
  }
  
  #events_container {
    min-height: 100vh;
    background-image: url("/assets/hackwithhwer-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(90%);
    background-size: cover;
    color: #fff;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  #events_overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 189, 170, 0.5);
    clip-path: polygon(100% 20%, 100% 100%, 0% 80%, 0% 0%);
    padding: 75px 0;
  }
  #events_overlay_container {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  #events_writeup {
    width: 50%;
    padding: 15px;
    transition: all 1s ease;
    cursor: pointer;
    text-align: center;
    margin-top: 5rem;
  }
  
  #events_writeup > p {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    color: #fff;
  }
  #events_title_image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width: 150px;
    size: cover;
    display: inline;
}
  #events_title_image > img {
    width: 70%;
    filter: contrast(0) brightness(100);
  }
  #view_more_events {
    width: 16%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: rgba(0, 102, 161, 0.8);
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
  }
  #view_more_events:hover {
    background-color: #0066a1;
  }
  #view_more_events a {
    color: #fff;
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
  }
  
  /*------------------ Contact Section --------------*/
  /* *------part 3------* */
  .third-container {
    margin-top: 10rem;
    margin: 12rem;
    margin-bottom: 0;
  }
  
  .head_text {
    font-size: 2.5rem;
    color: var(--color-text);
    margin-top: 2rem;
  }
  .dark {
    color: rgba(0, 0, 0);
  }
  #contact_content {
    display: flex;
    justify-content: space-around;
  }
  .contact-image {
    width: 30rem;
    height: 30rem;
  }
  
  td {
    padding-right: 20px;
  }
  
  tr {
    margin-bottom: 0;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-text);
    background-color: var(--color-light);
    transition: var(--transition);
  }
  
  textarea {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-text);
    background-color: var(--color-light);
    transition: var(--transition);
  }
  
  input:focus {
    background-color: var(--color-white);
  }
  .input_sm{
    display: none;
  }
  
  


.evnt-card{
    margin:1% 8% 3% 8%;
    border-radius: 30px;
    border: 1px solid rgb(12, 0, 87);
    overflow: hidden;
    box-shadow: 4px 2px 12px var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.evnt-img-container{
    height: 75vh;
    width: 200vw;
    object-fit: contain;
    
    overflow: hidden;
}
.evnt-img{
  height: 100%;
  width: 200vw;
  max-height: 100%;
  max-width: 100%; 
   
}
.evnt-body{
  box-shadow: -6px 0 5px rgba(14, 14, 14, 0.208);
  padding-left: 1rem;
}
.evnt-title{
  text-align: center;
  font-weight: bold;
  font-family: 'Poller One', cursive;
}
.evnt-text{
  font-size: 1.2rem;
  padding: 0 2%;
  font-family: 'Poppins', sans-serif;
}
.date-time{
  text-align: center;
  font-size: 17px;
}
.iframe-form{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.center{
  text-align: center;
}
.evnt-status{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .evnt-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
  }
  .evnt-img-container{
    border-bottom: 1px solid black;
  }
  .iframe-form{
    height: 60vh;
  }
}